<div class="contact-page">
  <div class="contact-form">
    <h2>ติดต่อเรา</h2>
    <form (ngSubmit)="onSubmit()">
      <label for="name">ชื่อ:</label>
      <input id="name" type="text" [(ngModel)]="name" name="name" required />

    <label for="email">อีเมล:</label>
    <input id="email" type="email" [(ngModel)]="email" name="email" required />

    <label for="message">ข้อความ:</label>
    <textarea id="message" [(ngModel)]="message" name="message" required></textarea>

    <button type="submit">ส่งข้อความ</button>
  </form>
  </div>
</div>